.error-container {
  border-radius: 10px;
  background: rgba(205, 5, 5, 0.829);
  max-width: 50%;
  margin-bottom: 20px;
  padding-left: 30px;
}

.error-message {
  color: white;
  font-weight: bold;
}