/* Define variables */
:root {
  --border-color: #939596;
  --bg-color: white;
  --highlight-color: #E3F5FF;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

/* Block: Month container */
.month {
  position: relative;
}

/* Block: Month dropdown */
.month-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  width: 10rem;
  height: 2.7rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

/*Element: Months */
.month-dropdown__months {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-top: none;
  box-shadow: var(--box-shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: 1;
}

/* Element: Month Item */
.month-dropdown__item {
  padding: 10px;
  cursor: pointer;
}

/* Modifier: Month Item - Hover */
.month-dropdown__item:hover {
  background-color: var(--highlight-color);
}

/* Modifier: Month Dropdown - Bottom Flat */
.month-dropdown_bottom-flat {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}