.month-container {
  position: relative;
}

.month-dropdown {
  border: 1px solid #939596;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 12px;
  width: 10rem;
  box-sizing: border-box;
  block-size: 2.7rem;
}

.months {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #939596;
  border-top: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
}

.months > div {
  padding: 10px;
  cursor: pointer;
}

.months > div:hover {
  background-color: #E3F5FF;
}

.bottom-flat {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid black;
}

.caret-flip {
  transform: rotate(180deg);
  transform-origin: 75% 50%;
}