.vacation-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.vacation-page__finder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.vacation-page__search-bar {
  flex: 1;
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../public/vacation-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.vacation-page__message {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding: 40px;
}

.countries-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacation-page__no-grow {
  flex: 0 0 auto;
}

.vacation-page__dropdown-open {
  padding-right: 0 !important;
  overflow-y: auto !important;
}