/* Block: Results */
.results {
  background-color: #E2E2E2;
}

/* Element: Results header */
.results__header {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 30px 0;
  margin: 0 20vw;
}

/* Block: Countries */
.countries {
  margin: 0 20vw;
  padding-bottom: 20px;
}

/* Element: Country dropdown container */
.countries__dropdown {
  margin-bottom: 20px;
}

/* Element: Country dropdown */
.country-dropdown {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  cursor: pointer;
  align-items: center;
}

/* Element: Number of cities */
.num-cities {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Element: Country */
.country {
  max-width: 40%;
  padding: 16px 0;
}

/* Modifier: Bottom flat */
.bottom-flat {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid black;
}

/* Element: Caret down */
.caret-down,
.caret-up {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

/* Modifier: Caret down - rotate 45 degrees */
.caret-down {
  transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Modifier: Caret up - rotate -135 degrees */
.caret-up {
  transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width:500px) {
  .countries {
    margin: 0 5vw;
  }
}