.results-container {
  background: #E2E2E2;
}

.results-header {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 30px 0px;
  margin: 0 20vw;
}

.countries-container {
  margin: 0 20vw;
  padding-bottom: 20px;
}

.country-dropdown-container {
  margin-bottom: 20px;
}

.country-dropdown {
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  cursor: pointer;
  }

.country-dropdown .num-cities {
  flex-grow: 1;
  text-align: center;
}

.country {
  max-width: 40%;
  padding: 16px 0;
}

.num-cities {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 16px 0;
}

.caret {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.caret-left, .caret-right {
  height: 8px;
  width: 6px;
  border-right: 2px solid black;
}
.caret-right {
  transform: skew(-45deg);
}

.caret-left {
  transform: skew(45deg);
}

.caret-up {
  display: none;
}
