.home-page-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.home-container {
  flex: 1 0 auto;
}

.home-header {
  padding: 2rem;
  position: relative;
  text-align: center;
  background: rgb(26, 32, 46);
}

.title, .subtitle {
  color: white;
}

.vacation-finder-button-container {
  margin-top: 2rem;
}

.vacation-finder-button {
  width: 80px;
  height: 2.7rem;
  background: white;
  border-radius: 12px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 700;
  color: black;
}

/* .submit-button {
  width: 80px;
  height: 2.7rem;
  background: black;
  border-radius: 12px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
} */