/* Block: Navbar */
.navbar {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  position: relative;
  background-color: rgb(226, 226, 226);
  z-index: 3;
  padding: 20px;
}

/* Element: Navbar links */
.navbar__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* Modifier: Navbar item */
.navbar__item {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Modifier: Navbar item - hover */
.navbar__item:hover {
  color: #2e97b5;
}

/* Modifier: Navbar item - active */
.navbar__item--active {
  font-weight: bold;
}

/* Modifier: Navbar - small screens */
@media (max-width: 500px) {
  .navbar__links {
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .navbar.menu-open .navbar__links {
    display: flex;
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    background-color: rgb(226, 226, 226);
    box-sizing: border-box;
  }

  .navbar__menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    position: relative;
  }

  .navbar__menu-icon-bar {
    background-color: black;
    width: 100%;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }

  .navbar__item {
    padding: 20px 10px;
  }

  .navbar.menu-open .navbar__menu-icon .navbar__menu-icon-bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: left;
  }

  .navbar.menu-open .navbar__menu-icon .navbar__menu-icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.menu-open .navbar__menu-icon .navbar__menu-icon-bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: left;
  }
}
