.cities-dropdown-container {
  background: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  padding: 0 30px;
  display: none;
}

.cities-header {
  border-bottom: 1px solid black;
  padding: 10px 0;
  display: flex;
}

.average-header, .temperature {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.city-row {
  display: flex;
  padding: 10px 0;
}

.cities-visible {
  display: block;
}

@media screen and (max-width:500px) {
  .countries-container {
    margin: 0 5vw;
  }

  .city {
    max-width: 40%;
  }
}