/* Block: Cities dropdown */
.cities-dropdown {
  background: white;
  border-radius: 0 0 20px 20px;
  padding: 0 30px;
  display: none;
}

/* Block: Dropdown header container */
.cities-dropdown-header {
  border-bottom: 1px solid black;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

/* Element: Dropdown headers */
.cities-dropdown-header__city-header,
.cities-dropdown-header__average-header,
.cities-dropdown-header__rain-header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Element: Dropdown average header */
.cities-dropdown-header__average-header,
.city-row__temperature {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Block: City row */
.city-row {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

/* Modifier: Cities dropdown - visible */
.cities-dropdown--visible {
  display: block;
}

/* Block: Arrows container */
.arrows {
  display: flex;
  flex-direction: column;
}

/* Element: Up arrow */
.arrows__arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2e2e2e;
  margin: 0 0 1px 10px;
}

/* Element: Down arrow */
.arrows__arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2e2e2e;
  margin: 1px 0 0 10px;
}

.mobile {
  display: none;
}


@media screen and (max-width:400px) {
  .city-row__city {
    max-width: 40%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}